
:root{
    --buttonsize:5em;
    --minButtonsize:3em;
    
}
html{
    background-color: aliceblue;
    color: rgb(78, 78, 78);
}

body{
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: cadetblue;
}

#calculator{
    border: chocolate;
    border-style: solid;
    max-width: 300px;
    max-height: 800px;
    min-height: 300px;;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

#screen-body{
    width: 100%;
    min-height: 180px;
    background-color: aqua;
    margin-bottom: 20px;

}

#screen{
    background-color: blanchedalmond;
}
#top{
    height: 70px;
    background-color: cornsilk;
}

#buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80%;
    background-color: bisque;
    align-self: flex-end;

}

button{
    max-width: var(--buttonsize);
    max-height: var(--buttonsize);
    min-height: var(--minButtonsize);
    font-size: 20px;
    flex-basis: 33.33%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
    background-color: brown;
}